<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "go_top.html" . }}
    <!-- live2D -->
    <div id="landlord">
        <div class="message" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="hide-button">隐藏</div>
    </div>
    {{ if isset .Site.Params "ad" }}
    <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 size=3>
        {{ partial "ad.html" . }}
    <!--><a title="Web Analytics" href="http://clicky.com/101151419"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a><-->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101151419); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101151419ns.gif" /></p></noscript>
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>

